<div class="container">
  <div class="card center-block">
    <img src="{{images[currentPage].url}}" class="card-img-top" style="max-width: 600px; max-height: 600px">
    <div class="card-body">
      <h5 class="card-title">{{images[currentPage].title}}</h5>
    </div>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{disabled: currentPage===0}">
          <a (click)="currentPage=currentPage-1" class="page-link">Previous</a>
        </li>

        <li class="page-item" [ngClass]="setActiveClass(i)" *ngFor="let image of images; let i = index">
          <a (click)="currentPage=i" class="page-link" href="#">{{i+1}}</a>
        </li>

        <li class="page-item" [ngClass]="{disabled: currentPage===images.length-1}">
          <a (click)="currentPage=currentPage+1" class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
