<div class="container">
  <div class="card text-center">
    <img [src]=" images[currentPage].url" class="img-responsive img-center" style="max-width: 450px">
    <div class="card-body">
      <h3 appClass class="card-title">{{images[currentPage].title}}</h3>
    </div>
  </div><br>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">

      <!-- [ngClass]="{disabled: currentPage===0}" -->
      <li class="page-item" [appSetClass]="{disabled : currentPage===0}">
        <a [ngStyle]="{backgroundColor : currentPage===0 ? '#E5E5E5' : '#FFFFFF'}" (click)="changePage()"
          class="page-link">Previous</a>
      </li>

      <!-- [ngClass]="setActiveClass(i)" -->
      <ng-container *ngFor="let image of images; let i = index">
        <li class="page-item" *ngIf="checkWindowIndex(i)" [appSetClass]="{active : i===currentPage}">
          <a (click)="currentPage=i" class="page-link" href="#">{{i+1}}</a>
        </li>
      </ng-container>

      <!-- [ngClass]="{disabled: currentPage===images.length-1}" -->
      <li class="page-item" [appSetClass]="{disabled : currentPage===images.length-1}">
        <a [ngStyle]="{backgroundColor : currentPage===images.length-1 ? '#E5E5E5' : '#FFFFFF'}"
          (click)="currentPage=currentPage+1" class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <!-- just for learning ELSE & ng-template  -->
  <p *ngIf="isExist; else custom">Testing else & ng-template usage</p>
  <ng-template #custom>
    <p>ng-template called by #custom</p>
  </ng-template>

  <!-- ng-switch  -->
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <p appClass2 [backgroundColor]="'#0D6EFC'" [color]="'#FFFFFF'">This Page is Zero (ngSwitch)</p>
    </div>
    <div *ngSwitchCase="1">
      <p>This Page is One (ngSwitch)</p>
    </div>
    <div *ngSwitchDefault>
      This Page is Default (ngSwitch)
    </div>
  </div>

  <!-- Create structural Directive -->
  <ul *appTimes="3">
    <li>I want to be remembered</li>
    <li>I want to have Legacy</li>
    <li>I want to be remarkable part of Human Kind</li>
  </ul>

</div>
